#student-form {
  visibility: hidden;
}

.m-auto-top {
  margin-top: auto;
}

.Gryffindor {
  background-color: rgba(240, 127, 127, 0.2);
  color: #800000;
  border: 2px solid rgb(128, 0, 0, .5);
}

.Slytherin {
  background-color: rgb(0, 255, 127, .2);
  color: #205e3b;
  border: 2px solid rgb(32, 94, 59, .5);
}

.Ravenclaw {
  background-color: rgb(135, 206, 250, .2);
  color: #1f3a93;
  border: 2px solid rgb(31, 58, 147, .5);
}

.Hufflepuff {
  background-color: rgb(254, 249, 204, .2);
  color: #726012;
  border: 2px solid rgb(114, 96, 18, .5);
}

.expel-btn {
  /* background: transparent;
  color: black; */
}